<div class="position-fixed w-100 h-100  d-flex justify-content-center align-items-center "
style="background-image: url(assets/server.png);">
    <div class=" p-4 rounded shadow container-fluid " style="width: 60vh;min-height: 40vh;
    background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex justify-content-center align-items-center mb-4">
            <img
        width="110"
        loading="lazy"
        alt="Random image"
        src="assets/SIG2.png"
    />
        </div>
        <form [formGroup]="authentform" (ngSubmit)="authentsubmited()">
            <div class="form-group">
            <tui-input tuiTextfieldSize="m" formControlName="email">
                Nom d'utilisateur
                <input  tuiTextfield type="email" class="form-control" name="email"/>

            </tui-input>
            </div>
            <div class="form-text text-danger" *ngIf="authentform.get('email')?.errors?.['required'] &&
            (authentform.get('email')?.dirty|| authentform.get('email')?.touched)">
                Email is required !
            </div>
            <div class="form-text text-danger" *ngIf="authentform.get('email')?.errors?.['required'] &&
            (authentform.get('email')?.dirty|| authentform.get('email')?.touched)">
                Email is invalid!!!
            </div>
            <div class="form-group">
            <tui-input-password
                tuiTextfieldSize="m"
                formControlName="password"
                class="tui-space_top-2">
                Mot de passe
                <input tuiTextfield type="password" class="form-control" name="password"  />
            </tui-input-password>
        </div>
        <div class="form-text text-danger" *ngIf="authentform.get('password')?.errors?.['required'] &&
            (authentform.get('password')?.dirty || authentform.get('password')?.touched)">
                Password is required !
            </div>
        <div class="form-text text-danger" *ngIf="authentform.get('password')?.errors?.['minlength'] ||
        authentform.get('password')?.errors?.['maxlength'] &&
            (authentform.get('password')?.dirty || authentform.get('password')?.touched)">
            Password should be at last 6 and at the max 15 characters long.
            </div>
            <button
                    tuiButton
                    type="submit"
                    size="m"
                    appearance="accent"
                    class="tui-space_right-3 tui-space_bottom-3 mt-3 container-fluid "
                    [disabled]="authentform.invalid">
                    SE CONNECTER
            </button>
    </form>
    </div>
</div>
