
    <!-- Nest the directive so it is considered the same active zone -->
    <div *tuiSidebar="isOpen; direction: 'left'" class="t-wrapper" >
        <div  tuiSlot="left" class="d-flex justify-content-center align-items-center">
        <button
        (click)="toggle()"
        tuiIconButton
        type="button"
        appearance="flat"
        class="tui-space_right-3 tui-space_bottom-3" 
        icon="tuiIconCloseLarge"
        title="Menu"
        size="l"
    ></button>
       <h2 class="title">
        SIGSERV
        <code tuiText="tui-space_top-value>"></code>
    </h2>
</div>
        <p class="tui-space_bottom-1">
            <a
                tuiLink
                icon="tuiIconHomeLarge"
                iconAlign="left"
                routerLink="/admin"  routerLinkActive
                class="link"
            >
               <span *ngIf="isOpen">DASHBOARD</span>
            </a>
        </p>
        <p class="tui-space_bottom-1">
            <a
                tuiLink
                icon="tuiIconServerLarge"
                iconAlign="left"
                routerLink="/admin/serveurs" routerLinkActive
                class="link"
            >
               SERVEURS
            </a>
        </p>
        <p class="tui-space_bottom-1">
            <a
                tuiLink
                icon="tuiIconCodeLarge"
                iconAlign="left"
                routerLink="/admin/applications" routerLinkActive
                class="link"
            >
              APPLICATIONS
            </a>
        </p>
        <p class="tui-space_bottom-1">
            <a
                tuiLink
                icon="tuiIconSettings"
                iconAlign="left"
                routerLink="/admin/systemes" routerLinkActive
                class="link"
            >
              SYSTEMES
            </a>
        </p>
        <p class="tui-space_bottom-1">
            <a
                tuiLink
                icon="tuiIconUsersLarge"
                iconAlign="left"
                routerLink="/admin/utilisateurs" routerLinkActive
                class="link"
            >
              UTILISATEURS
            </a>
        </p>
    </div>
