<div class="container-fluid">

    <h2 class="title">
       Liste des Applications
        <code tuiText=".tui-space(top, <value>);"></code>
    </h2>

    <div
    tuiTextfieldSize="m"
    class="filters my-5 d-flex justify-content-between"
>

    <tui-input
        class="input me-3"
        [tuiTextfieldCleaner]="true"
        tuiTextfieldIconLeft="tuiIconSearchLarge"
        [(ngModel)]="search"
    >
       Recherche
    </tui-input>
    <div>
        <button
    tuiIconButton
    appearance="secondary-destructive"
    size="m"
    icon="tuiIconRotateCcw"
    title="Actualiser la liste"
    (click)="query()"
    shape="rounded"
    type="button"
    class="me-3 "
></button>
    <button
            tuiButton
            size="m"
            style="min-width: 250px !important"
            type="button"
            icon="tuiIconPlus"
            class="shadow"
            appearance="accent"
            routerLink="/admin/applications/nouveau"
        >
            Nouvelle application
    </button>
    </div>
</div>
    <table
        tuiTable
        class="container-fluid"
        [columns]="columns"
        *ngIf="applications.length!=0"
    >
        <thead>
            <tr tuiThGroup>
                <th
                    *tuiHead="'nom'"
                    tuiTh
                >
                   Nom de l'application
                </th>
                <th
                    *tuiHead="'type'"
                    tuiTh
                >
                    Type
                </th>
                <th
                    *tuiHead="'etat'"
                    tuiTh
                >
                    Etat
                </th>
                <th
                    *tuiHead="'adresseIp'"
                    tuiTh
                >
                   Adresse IP
                </th>
                <th
                *tuiHead="'port'"
                tuiTh
                >
                Port
                </th>
                <th
                *tuiHead="'url'"
                tuiTh
                >
                URL
                </th>
                <th
                *tuiHead="'createdAt'"
                tuiTh
                >
                Date de Création
                 </th>


                <th
                    *tuiHead="'actions'"
                    tuiTh
                    [sorter]="null"
                ></th>
            </tr>
        </thead>
        <tbody
            *tuiLet="applications | tuiTableSort as sortedApplication"
            tuiTbody
            [data]="sortedApplication"
        >
            <tr
                *ngFor="let application of sortedApplication; let index = index"
                tuiTr
            >
                <td
                    *tuiCell="'nom'"
                    tuiTd
                >
                    {{ application.nom }}
                </td>
                <td
                    *tuiCell="'type'"
                    tuiTd
                >

                        {{ application.type }}

                </td>
                <td
                    *tuiCell="'etat'"
                    tuiTd
                >
                    <div [class]="application.etat">{{ application.etat }}</div>
                </td>
                <td
                *tuiCell="'adresseIp'"
                tuiTd
                >
                <div [class]="application.adresseIp">{{ application.adresseIp }}</div>
                </td>
                <td
                    *tuiCell="'port'"
                    tuiTd
                >
                    <div [class]="application.port">{{ application.port }}</div>
                </td>
                <td
                    *tuiCell="'url'"
                    tuiTd
                >
                    <div [class]="application.url">{{ application.url }}</div>
                </td>

                <td
                *tuiCell="'createdAt'"
                tuiTd
                >
                <div [class]="application.createdAt">{{ application.createdAt | date :'short' }}</div>
                </td>

                <td
                    *tuiCell="'actions'"
                    tuiTd
                >

                    <button
                        tuiIconButton
                        appearance="secondary-destructive"
                        size="s"
                        icon="tuiIconEye"
                        title="Detail"
                        shape="rounded"
                        type="button"
                        class="remove"
                        [routerLink]="'/admin/applications/'+(application.id)+'/detail'"
                    ></button>
                    <button
                        tuiIconButton
                        appearance="secondary-destructive"
                        size="s"
                        icon="tuiIconEdit2"
                        title="Editer"
                        shape="rounded"
                        type="button"
                        class="remove"
                        [routerLink]="'/admin/applications/'+(application.id)+'/edit'"
                    ></button>
                    <button
                        tuiIconButton
                        appearance="secondary-destructive"
                        size="s"
                        icon="tuiIconTrash"
                        title="Supprimer"
                        shape="rounded"
                        type="button"
                        class="remove"
                        (click)="showDialog(application)"
                    ></button>
                </td>

            </tr>
        </tbody>
    </table>
  <div *ngIf="applications.length==0" class="p-3 rounded" style="background-color: rgba(224,87,37,0.12)">
    <h6  style="color: #dd4c1e">Aucune application trouvée !</h6>
  </div>
</div>
